{% extends "admin/base.html" %}

{% block body %}


  <div style="text-align: center; font-size: large; margin-top: 150px">
    <h2>This is probably not what you need</h2>

    <br>

    <p>This section is for advanced administration.</p>

    <p>You shouldn't have to touch it unless something goes wrong.</p>

      <p>If you don't know what you're doing,
        you should probably go back to the app.</p>

        <br>

        <p><a class="btn btn-primary btn-lg" href="/">
            <i class="fa fa-home"></i> Take me back to the app
        </a></p>
  </div>

{% endblock %}
